<div class="modal-header">
  <h4 class="modal-title">Delete Profile confirmation</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Do you really want to delete your profile?
</div>
<div class="modal-footer">
  <button mat-raised-button color="secondary" (click)="decline()">Cancel</button>
  <button mat-raised-button color="warn" (click)="accept()">Delete Profile</button>
</div>
