<mat-toolbar color="primary" class="expanded-toolbar">
<span>
    <button mat-button routerLink="/">User Manager Tool</button>
  </span>
<div fxLayout="row" fxShow="false" fxShow.gt-sm>
  <mat-label *ngIf="!timedOut">{{idleState}} {{countdown}}</mat-label>
  <button mat-button routerLink="/login">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-button (click)="logout()" *ngIf="!authService.isLoggedIn">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
  <button mat-button routerLink="/profile" *ngIf="!authService.isLoggedIn">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
</div>
</mat-toolbar>
<router-outlet></router-outlet>
